@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
  background-color: v.$menta;

  @include m.tablet {
    &.sticky {
      left: 0;
      top: 0;
      box-shadow: .1rem .2rem .3rem .3rem #444;
      position: fixed;
      width: 100%;
    }
    
  }

  h1 {
    color: v.$white;
    text-align: center;

    @include m.tablet {
      margin: 0;
    }

  }

  .header-content {
    padding: 2rem;

    @include m.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }
}

.navegacion-principal {
  @include m.tablet {
    display: flex;
    gap: 2rem;
  }

  a {
    display: block;
    text-align: center;
    color: v.$white;
    font-size: 2.2rem;
    margin-bottom: 1rem;

    @include m.tablet {
      margin: 0;
    }

    &:hover {
      /* El amperson sirve para eliminar el espacio que se crea en la hoja de estilos css con el selector de hover */
      color: v.$yellow;
    }
  }
}

